:root {
  --bs-link-color: #1a0dab;
  --bs-link-hover-color: #1a0dab;
}

body {
  font-family: hero-new, sans-serif;
  font-weight: 450;
  font-size: 1.125em;
  line-height: 1.65em;
  color: #444;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--bs-purple);
}

h1 a, h1 a:visited, h1 a:hover {
 color: #444;;
 text-decoration: none;
}

footer {
  text-align: center;
}
