:root {
  --bs-link-color: #1a0dab;
  --bs-link-hover-color: #1a0dab;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
}

a {
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--bs-purple);
}

h1 a, h1 a:visited, h1 a:hover {
 color: #444;;
 text-decoration: none;
}

header, footer {
  text-align: center;
}

article {
  margin: auto;
  width: 80ch;
}

article p {
  max-width: 65ch;
}
