:root {
  --bs-link-color: #1a0dab;
  --bs-link-hover-color: #1a0dab;
}

article {
  font-size: 18px;
  margin: auto;
  width: 80ch;
}

article p {
  max-width: 65ch;
}

article a:visited {
  color: var(--bs-purple);
}

footer {
  text-align: center;
}
