<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patrick Lioi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/atom.xml" />
  </head>
  <body>
    <div class="container">

      {{ content }}

      <br>

      <footer>
        <p><a href="https://twitter.com/plioi/">@plioi</a> ::
           <a href="http://patrick.lioi.net/archive/">archive</a> ::
           <a href="http://plioi.github.io/fixie/">fixie</a> ::
           <a href="http://github.com/plioi/parsley/">parsley</a> ::
           <a href="http://github.com/plioi/rook/">rook</a>
        </p>
        <p>&copy; 2011-2013 Patrick Lioi</p>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-42021639-1");
            pageTracker._trackPageview();
            } catch(err) {}
    </script>
  </body>
</html>
