<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Patrick Lioi</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/atom.xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div class="container">

      {{ content }}

      <br>

      <div class="footer">
        <p><a href="https://twitter.com/plioi/">@plioi</a> ::
           <a href="http://patrick.lioi.net/archive/">archive</a> ::
           <a href="http://plioi.github.io/fixie/">fixie</a> ::
           <a href="http://github.com/plioi/parsley/">parsley</a> ::
           <a href="http://github.com/plioi/rook/">rook</a>
        </p>
        <p>&copy; 2011-2013 Patrick Lioi</p>
      </div>
    </div>
    <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-42021639-1");
            pageTracker._trackPageview();
            } catch(err) {}
    </script>
  </body>
</html>
