<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Patrick Lioi</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Patrick Lioi</h1>
        <p></p>
        <p class="view"><a href="http://twitter.com/plioi">@plioi</a></p>
        <p class="view"><a href="http://github.com/plioi/parsley">Parsley</a></p>
        <p class="view"><a href="http://github.com/plioi/rook">Rook</a></p>
        <p class="view"><a href="http://plioi.github.io/fixie">Fixie</a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>&copy; 2013 Patrick Lioi</small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-42021639-1");
            pageTracker._trackPageview();
            } catch(err) {}
    </script>
  </body>
</html>
